# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Documentation
README.md
*.md

# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules
vendor

# Build artifacts
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache
tests

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
postgres_data
*.sqlite
