/**
 * Self-hosted Space Grotesk fonts
 *
 * To complete the setup:
 * 1. Download Space Grotesk WOFF2 files from Google Fonts or GitHub:
 *    https://fonts.google.com/specimen/Space+Grotesk
 *    Or: https://github.com/floriankarsten/space-grotesk
 *
 * 2. Download these specific weights:
 *    - Space Grotesk 600 (SemiBold)
 *    - Space Grotesk 700 (Bold)
 *    - Space Grotesk 900 (Black)
 *
 * 3. Place the WOFF2 files in: public/fonts/space-grotesk/
 *    Example: public/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff2
 *
 * 4. Update the src paths below if filenames differ
 */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk-600 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.space-grotesk-700 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.space-grotesk-900 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

